div.A5fieldset {
background-image: linear-gradient(#d2db32,#3bed8e);
		color: #383eed;
		padding: 5px

	}

	div.A5fieldset2 {
background-image: linear-gradient(#3bed8e,#f1f1f1);
		color: #383eed;
		padding: 5px

	}

	body {
	background-image: url("http://www.corporateinvestigationsindia.com/images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%
}