div.Portfolio {
		font-size: 25px;
		font-family: "Georgia";
		text-align: center;
		background-color: red;
}

div.abc {
	position:fixed;
    right:0px;
    bottom:0px;

}

h1 {
		color: color red;
		font-size: 40px;
		text-align: center;
		background-image: url(https://vignette.wikia.nocookie.net/neptunia/images/5/51/CPU_Memory.png/revision/latest?cb=20140730033808);
		background-position: center;
		background-repeat: no-repeat;
		padding: 100px;
	}


h2 {
		background-image: linear-gradient(#d2db32,#3bed8e);
		color: #383eed;
		padding: 5px
	}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


div.a {
	font-size: 22px;
	text-align: center;
	background-color: #ed3bbd;
	padding: 2px;
	color: #deff3a;
	}

div.b {
	font-size: 30px;
	text-align: center;
	}

div.c {
	background-image: linear-gradient(purple,#3bed8e);
}

div.button 1 {

font-size: 45px;;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
	background-color: gray;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

div.table1 table, th{
	 border: 1px solid black;
}